.blue{
  background-color: #0076EC;
  border: white outset;
  position: absolute;
}

#b_1{
  left: 60px;
  top: 60px;
  /* left: 280px; */
  /* top: 35px; */
}

#b_2{
  left: 108px;
  top: 60px;
}

#b_3{
  left: 60px;
  top: 108px;
}

#b_4{
  left: 108px;
  top: 108px;
}